fieldset {
  background-color: rgba(255, 255, 240, 0.7);
  border: 2px solid #aa9;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
}

fieldset legend {
  font-weight: bold;
  color: #aa9;
  padding: 0 0.5rem;
}

p {
  display: block;
  margin-bottom: 1rem;
}

p label + input {
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 100%;
}

p:has(> input[type="text"]:invalid)::before {
  content: "✖";
  color: red;
}

p:has(> input[type="text"]:valid)::before {
  content: "✓";
  color: green;
}

input {
  color: #333;
  background-color: rgba(230, 255, 255, 0.6);
}

input[required] {
  background-color: rgba(255, 230, 255, 0.6);
}

input::placeholder {
  color: #bbb;
}

input:invalid {
  background-color: rgba(255, 230, 240, 0.6);
}

input:valid {
  background-color: rgba(230, 255, 240, 0.6);
}

.checkbox-group p {
  display: inline-block;
  min-width: 8.7rem;
}

.checkbox-group label {
  display: inline-block;
  min-width: 9.7rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.feedback-box {
  display: block;
  background-color: rgba(255, 255, 250, 0.7);
  border: 2px solid #aa9;
  border-radius: 10px;
  margin-top: 0.5rem;
  padding: 1rem;
  min-height: 10rem;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

button {
  background-color: #aa9;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
